1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of 3 print `Mickey` instead of the corresponding number and for the multiples of 5 print `Mouse`. For numbers which are multiples of both three and five print `MickeyMouse`

b) Put the result in a tuple and substitute `Mickey` with `Donald` and `Mouse` with `Duck`

In [22]:
res = []

for i in range(1, 101):
    if (i%3 == 0) & (i%5 == 0):
        res.append('MickeyMouse')
    elif i % 5 == 0 :
        res.append('Mouse')
    elif i % 3 == 0:
        res.append('Mickey')
    else:
        res.append(i)

for j in range(len(res)):
    if res[j] == 'Mickey':
        res[j] = 'Donald'
    elif res[j] == 'Mouse':
        res[j] = 'Duck'
    elif res[j] == 'MickeyMouse':
        res[j] = 'DonaldDuck'

out = tuple(res)
out

(1,
 2,
 'Donald',
 4,
 'Duck',
 'Donald',
 7,
 8,
 'Donald',
 'Duck',
 11,
 'Donald',
 13,
 14,
 'DonaldDuck',
 16,
 17,
 'Donald',
 19,
 'Duck',
 'Donald',
 22,
 23,
 'Donald',
 'Duck',
 26,
 'Donald',
 28,
 29,
 'DonaldDuck',
 31,
 32,
 'Donald',
 34,
 'Duck',
 'Donald',
 37,
 38,
 'Donald',
 'Duck',
 41,
 'Donald',
 43,
 44,
 'DonaldDuck',
 46,
 47,
 'Donald',
 49,
 'Duck',
 'Donald',
 52,
 53,
 'Donald',
 'Duck',
 56,
 'Donald',
 58,
 59,
 'DonaldDuck',
 61,
 62,
 'Donald',
 64,
 'Duck',
 'Donald',
 67,
 68,
 'Donald',
 'Duck',
 71,
 'Donald',
 73,
 74,
 'DonaldDuck',
 76,
 77,
 'Donald',
 79,
 'Duck',
 'Donald',
 82,
 83,
 'Donald',
 'Duck',
 86,
 'Donald',
 88,
 89,
 'DonaldDuck',
 91,
 92,
 'Donald',
 94,
 'Duck',
 'Donald',
 97,
 98,
 'Donald',
 'Duck')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [27]:
def swap(x, y):
    return(y, x)

a = 1
b = 2

swap(a, b)

(2, 1)

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [29]:
import numpy as np

def dist(u, v):
    return np.sqrt((u[1] - v[1])**2 + (u[0] - v[0])**2)

dist((3, 0), (0, 4))

np.float64(5.0)

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [34]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

import string

S = s.upper()

for letter in string.ascii_uppercase:
    count = S.count(letter)
    print(letter, ': ', count)

A :  7
B :  5
C :  3
D :  3
E :  22
F :  10
G :  1
H :  9
I :  14
J :  0
K :  2
L :  6
M :  12
N :  10
O :  13
P :  8
Q :  0
R :  17
S :  9
T :  19
U :  9
V :  2
W :  2
X :  0
Y :  2
Z :  0

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [37]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 51, 51, 20, 89, 51, 20]

uniques = []
for n in l:
    if l.count(n) == 1:
        uniques.append(n)

print('There are %d unique numbers:' % len(uniques), uniques)

There are 36 unique numbers: [58, 74, 96, 64, 10, 24, 19, 33, 86, 99, 18, 47, 88, 55, 54, 8, 79, 81, 57, 37, 1, 9, 95, 90, 98, 39, 16, 82, 92, 41, 30, 94, 5, 72, 87, 75]

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [39]:
def square(x):
    return x**2

def cube(x):
    return x**3

def sixth(x):
    return cube(square(x))

a = 2

sixth(a)

64

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [40]:
l = []
for i in range(10):
    l.append(i**3)

m = [x ** 3 for x in range(10)]

print(l, m)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729] [0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [42]:
out = []
for c in range(100):
    for b in range(c):
        for a in range(b):
            if c**2 == (a**2 + b**2):
                out.append((a, b, c))

l = tuple(out)
l

((3, 4, 5),
 (6, 8, 10),
 (5, 12, 13),
 (9, 12, 15),
 (8, 15, 17),
 (12, 16, 20),
 (15, 20, 25),
 (7, 24, 25),
 (10, 24, 26),
 (20, 21, 29),
 (18, 24, 30),
 (16, 30, 34),
 (21, 28, 35),
 (12, 35, 37),
 (15, 36, 39),
 (24, 32, 40),
 (9, 40, 41),
 (27, 36, 45),
 (30, 40, 50),
 (14, 48, 50),
 (24, 45, 51),
 (20, 48, 52),
 (28, 45, 53),
 (33, 44, 55),
 (40, 42, 58),
 (36, 48, 60),
 (11, 60, 61),
 (39, 52, 65),
 (33, 56, 65),
 (25, 60, 65),
 (16, 63, 65),
 (32, 60, 68),
 (42, 56, 70),
 (48, 55, 73),
 (24, 70, 74),
 (45, 60, 75),
 (21, 72, 75),
 (30, 72, 78),
 (48, 64, 80),
 (18, 80, 82),
 (51, 68, 85),
 (40, 75, 85),
 (36, 77, 85),
 (13, 84, 85),
 (60, 63, 87),
 (39, 80, 89),
 (54, 72, 90),
 (35, 84, 91),
 (57, 76, 95),
 (65, 72, 97))

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [57]:
%precision 3
def norm(l = tuple):
    tot = 0
    for i in range(len(l)):
        tot += l[i]
    out = [x/tot for x in l]
    return tuple(out)

norm((1, 2, 3))

(0.167, 0.333, 0.500)